<div class="banner-lg" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1471193945509-9ad0617afabf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
  <h1 class="text-center">Promote your local products.</h1>
  <br>
  <div class="container d-flex justify-content-around">
    <div class="banner-card-lg">
      <h2>Add my Store</h2>
      <%= simple_form_for(@store) do |f| %>
      <% if @store.errors.any? %>
      <div class="errors-container" style="width: 20px">
        <ul>
          <% @store.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <%# f.error_notification %>
      <%# f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div class="form-inputs">
        <%= f.input :name, :label => "Name of your store: " %>
        <%= f.input :address, :label => "Address: " %>
        <%= f.input :description,  :label => "Description: " %>
        <%= f.input :website, :label => "Website: " %>
        <%= f.input :phone, :label => "Phone number: " %>
        <%= f.input :description, :label => "List the local/fresh/organic you have :" %>
        <%= f.input :description, :label => "Where does your product come from ? " %>
        <p>Does your store sell at least 50% of local products ? <%= check_box_tag '', 'yes', false  %></p>
        <br>
        <h5><%= f.input :pictures, as: :file, input_html: { multiple: true }, :label => "Upload up to 4 pictures of your store" %></h5>
        <br>
        <div class="form-actions">
          <%= f.submit  "submit my store", class: "btn btn-success" %>
        </div>
        <% end %>
      </div>
      <br>
      <%= link_to 'Back', stores_path, class: "btn btn-outline-success" %>
    </div>
  </div>
</div>
