<div class="container">
    <% @store.pictures.each do |picture| %>
      <!-- `picture` here is an instance of the Picture model -->
      <%= cl_image_tag(picture.photo, width: 400, height: 300, crop: :fill) %>
    <% end %>

<h2><%= @store.name  %></h2>
<p><%= @store.address %></p>
<p><%= @store.description %></p>
<p><%= @store.website %></p>
<p><%= @store.phone %></p>
</div>

<% if @store.user == current_user %>
<%= link_to 'Edit', edit_store_manager_store_path(@store), class: "btn btn-outline-success" %>
<%= link_to 'Add product', new_store_manager_store_product_path(@store), class: "btn btn-outline-success" %>
<% else %>
<%= 'You are buyer' %>
<% end %>
