<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
​
​<div class ="container">

​<div class="container-getlocal" id="container-flex">

<!-- <div class="container-getlocal">
 --><!--   <div class= "content">
 -->    ​
    <div class="products">
      <h2>- <%= @store.name.capitalize %> -
      <% if @store.is_owner?(current_user) %>
      <%= link_to 'Manage', store_manager_store_path(@store), class: "btn btn-outline-success" %>
      <% end %>
      </h2>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" id="carousel-item-show1">
            <div class="d-block w-100">
              <% if @store.pictures.present? %>
              ​
                <% @store.pictures.each do |picture| %>
                  <%= cl_image_tag(picture.photo) %>
                <% end %>
              <% else %>
                <%= image_tag "https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80", class: "d-block w-100"%>
              <% end %>
            </div>
          </div>
          <div class="carousel-item" id="carousel-item-show2">
            <img src="https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" id="carousel-item-show3">
            <img src="https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      ​
      ​
      ​
      <!-- nav bar infos -->
      <div id="navbar-product-infos">
        <nav id="navbar-example2" class="navbar navbar-light bg-light">
          <ul class="nav nav-pills">
            <div id="titles-product-infos">
              <li class="nav-item">
                <a class="nav-link" href="#products">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#reviews">Reviews</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#more-info">Information</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"style="background-color: transparent;" href="#location">Location</a>
              </li>
            </div>
          </ul>
        </nav>
      </div>
      ​     ​
      ​
      <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        <div class= "store-section">

          <div class= "title-store-section">
            <span class="content-title-store-section"><h4 id="products">Products Available</h4></span>
          </div>
          <% @store.categories.uniq.each do |cat| %>
          <table class="table">
            <tr>
              <div class="card-category-products" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cat.url %>')">
                <%= cat.name %>
              </tr>
              <thead>
                <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Price</th>
                  <th scope="col">GetLocal Discount</th>
                  <th scope="col">Stock</th>
                  <th scope="col">➕</th>
                </tr>
              </thead>
              <tbody>
                <% cat.products.where(store: @store).each do |product| %>
                  <tr>
                    <td><%= product.name %></td>
                    <td><%= humanized_money_with_symbol(product.price)%></td>
                    <td><%= (product.discount*100).round(0)%> %</td>
                    <td><%= product.stock %></td>
                    <td><%= link_to "Add to my cart", store_product_product_orders_path(@store, product), method: :post %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <% end %>
          </div>
          <div class= "store-section">
            <div class= "title-store-section">
              <span class="content-title-store-section"><h4 id="reviews">Reviews</h4></span>
            </div>
            <% @store.store_reviews.each do |review| %>
                <%= render "store_reviews/show", store_review: review %>
            <% end %>
            <%= render "store_reviews/form", store: @store, store_review: @store_review %>

          </div>
          <div class= "store-section">
            <div class= "title-store-section">
              <span class="content-title-store-section"><h4 id="more-info">Information</h4></span>
            </div>
            <div class= "store-info">
              <p class="text-justify"><strong>Description: </strong><%= @store.description %></p>
              <p><strong>Website: </strong><%= @store.website %></p>
              <p><strong>Phone number: </strong><%= @store.phone %></p>
              <p><strong>Address: </strong><%= @store.address %></p>
            </div>
          </div>
          <!-- map -->
          <div class= "store-section">
            <div class= "title-store-section">
              <span class="content-title-store-section"><h4 id="location">Location</h4></span>
            </div>
            <p><div
              id="map"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" style= "height:400px">
            </div></p>
          </div>
        </div>
      ​</div>
      ​
      ​
  ​


      <!-- ​CART -->
      <div class="container col-3" id="container-sticky">

      ​<%# unless @store.is_owner?(current_user) %>
      <% if current_user.present? %>
      <div class="row" id="center-content">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-striped">
              <h3 class="text-center">Your Cart</h3>
              <thead>
                <tr>
                  <th class="col-3">Product</th>
                  <th class="text-center col-2">Quantity</th>
                  <th class="text-right col-3">Price</th>
                  <th class="text-center col-4"> </th>
                </tr>
              </thead>
              <tbody>
                <%= simple_form_for @order do |f| %>
                <% current_user.product_orders.each do |item| %>
                <% if current_user.product_orders.present? %>
                <tr>
                  <td class="col-3"><%= item.product.name %></td>
                  <td class="col-2"><input class="form-control" type="text" value="<%= item.quantity %>" /></td>
                  <td class="text-right col-3"><%= (item.product.price - (item.product.price*item.product.discount)).round(2) %>€</td>
                  <td class="text-center col-4"><%= link_to '❌', store_product_product_order_path(@store, item.product, item), method: :delete %></td>
                </tr>
                <%= f.hidden_field :product_order_ids, multiple: true , value: item.id %>
                <% else %>
                <tr>
                  <td class="col-3"><p>Your cart is empty</p></td>
                </tr>
                <% end %>
                <% end %>
              </tbody>
            </table>
            <button class="btn-block btn-success" id="checkout-button"><%= f.submit %></button>
            <% end %>
            <%#= link_to 'Checkout', orders_path, class: 'btn btn-outline-success', method: :post %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>



  <!--Carousel Wrapper-->
  <div class="container-getlocal">
    <h4>Other GetLocal stores you might like:</h4>
    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
      <!--Controls-->
      <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->
      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->
      <!--Slides-->
      <div class="carousel-inner" role="listbox" >
        <!--First slide-->
        <% @stores.each_slice(4).with_index do |slice, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <div class="row" >
            <% slice.each do |store| %>
            <div class="card-store mb-3 mr-3 ml-3" id="card-store-similar">
              <% if cl_image_tag store.pictures.present? %>
              <% store.pictures.each do |picture| %>
              <%= cl_image_tag(picture.photo) %>
              <% end %>
              <% else %>
              <%= image_tag "https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"%>
              <% end %>
              <div class="card-store-infos">
                <div>
                  <h4><%= link_to store.name.capitalize, store_path(store), class: 'link-green' %></h4>
                  <p><%= store.address %></p>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>

  </div>
  <!--/.Carousel Wrapper-->
</div>
</div>
