<div class="container">

<h2><%= @store.name.capitalize %></h2>
<div card-store>

        <% if cl_image_tag @store.picture? %>
        <%= cl_image_tag @store.picture %>
        <% elsif cl_image_tag @store.picture.blank? %>
        <%= image_tag @store.picture %>
        <% else%>
        <%= image_tag "https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80" %>
        <% end %>
</div>
<p><%= @store.address %></p>
<p><%= @store.description %></p>
<p><%= @store.website %></p>
<p><%= @store.phone %></p>

<% if @store.user == current_user %>
<%= link_to 'Edit', edit_store_manager_store_path(@store), class: "btn btn-outline-success" %>
<%= link_to 'Add product', new_store_manager_store_product_path(@store), class: "btn btn-outline-success" %>
<% else %>
<%= 'You are buyer' %>
<% end %>
</div>



