<div class="container">

<h2><%= @store.name.capitalize %></h2>
<div card-store>

        <% if cl_image_tag @store.picture.blank? %>
        <%= image_tag @store.picture %>
        <% else %><%= cl_image_tag @store.picture %>
        <% end %>
</div>
<p><%= @store.address %></p>
<p><%= @store.description %></p>
<p><%= @store.website %></p>
<p><%= @store.phone %></p>

</div>