<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://github.com/paulinecpz/GETLOCAL/blob/master/app/assets/images/logo.jpg?raw=true" %>
    <%= image_tag "https://github.com/paulinecpz/GETLOCAL/blob/master/app/assets/images/GetLocal.png?raw=true", id: "getlocal" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" >
      <% if user_signed_in? %>
      <li class="nav-item" id="my-orders-navbar">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item" id="my-orders-navbar">
        <%= link_to "All Stores", stores_path, class: "nav-link" %>
      </li>
      <li class="nav-item" id="my-orders-navbar">
        <%= link_to "My orders", orders_path, class: "nav-link" %>
      </li>
      <% if current_user.photo.present? %>
        <%= cl_image_tag current_user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, style: 'font-size:30px;cursor:pointer'%>
      <% else %>
        <%= image_tag "https://avatars3.githubusercontent.com/u/53619741?s=460&v=4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, style: 'font-size:30px;cursor:pointer' %>
      <% end %>

      <div id="mySidenav" class="sidenav">
        <div class="user-photo">
          <span class="photo">
            <% if current_user.photo.present? %>
              <%= cl_image_tag current_user.photo, class: "user-image"%>
            <% else %>
              <%= image_tag "https://avatars3.githubusercontent.com/u/53619741?s=460&v=4", class: "user-image"%>
            <% end %>
          </span>
        </div>

          <a href="javascript:void(0)" class="closebtn" >&times;</a>

          <div class= "h5-name"><h5><%=current_user.first_name%> <%=current_user.last_name%></h5></div>
          <div class="list">
            <ul class="menu-list">
              <li class="item-menu">
                <%= link_to "My Profile", edit_user_registration_path, class: "nav-link" %>
              </li>
              <li class="item-menu">
                <%= link_to "My Orders", orders_path, class: "nav-link" %>
              </li>
              <% if current_user.role == 'store_manager' %>
              <li class="item-menu">
                <%= link_to "My Stores", store_manager_stores_path, class: "nav-link" %>
              </li>
              <% end %>
              <li class="item-menu">
                <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
              </li>
            </ul>
          </div>

      </div>
      <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
