<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://github.com/paulinecpz/GETLOCAL/blob/master/app/assets/images/logo.jpg?raw=true" %>
    <%= image_tag "https://github.com/paulinecpz/GETLOCAL/blob/master/app/assets/images/GetLocal.png?raw=true", id: "getlocal" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Messages", "#", class: "nav-link" %>
        </li>
          <%= image_tag "https://avatarfiles.alphacoders.com/547/54795.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, style: 'font-size:30px;cursor:pointer', onclick: 'openNav()'%>
          <div id="mySidenav" class="sidenav">
            <div class="user-photo">
              <span class="photo">
                <img class="user-img" src='https://avatarfiles.alphacoders.com/547/54795.jpg'>
              </span>
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                  <h3><%=current_user.first_name%></h3>
                  <div class="list">
                <ul class="navbar-nav mr-auto">
                <li class="item-menu">
                  <%= link_to "My Profile", "#", class: "nav-link" %>
                </li>
                <li class="item-menu">
                  <%= link_to "My Orders", "#", class: "nav-link" %>
                </li>
                <li class="item-menu">
                  <%= link_to "My Stores", "#", class: "nav-link" %>
                </li>
                <li class="item-menu">
                  <%= link_to "Log Out", "#", class: "nav-link" %>
                </li>
              </ul>
              </div>
            </div>
          </div>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>


