<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1471193945509-9ad0617afabf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div id="sidebar-products">
          <div class="table-responsive-orders">
            <table class="table table-striped">
              <h3 class="text-center">Pending Orders</h3>
              <thead>
                <tr>
                  <th class="text">Order Nr</th>
                  <th class="text">State</th>
                  <th class="text">Quantity</th>
                  <th class="text-center">Amount</th>
                </tr>
              </thead>
              <tbody>
                <% @orders.where(state: :pending).each do |order| %>
                <tr>
                  <td class="text"><%= order.id %></td>
                  <td class="text"><%= order.state %></td>
                  <td class="text"><%= order.quantity %></td>
                  <td class="text"><%= order.amount_cents/100.00 %>€</td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div id="sidebar-products">
          <div class="table-responsive-orders">
            <table class="table table-striped">
              <h3 class="text-center">Confirmed Orders</h3>
              <thead>
                <tr>
                  <th class="text">Order Nr</th>
                  <th class="text">State</th>
                  <th class="text">Quantity</th>
                  <th class="text">Amount</th>
                  <th class="text">Review</th>
                </tr>
              </thead>
              <tbody>
                <% @orders.where(state: :paid).each do |order| %>
                <tr>
                  <td class="text"><%= order.id %></td>
                  <td class="text"><%= order.state %></td>
                  <td class="text"><%= order.quantity %></td>
                  <td class="text"><%= order.amount_cents/100.00 %>€</td>
                  <td>
                    <%= link_to 'Add a Review', new_order_review_path(order), class: 'btn btn-outline-success' %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <%= render 'reviews/form', order: @orders.first, review: Review.new %>
  </div>
</div>

