
<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1471193945509-9ad0617afabf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
  <div class="container-home d-flex justify-content-around">
    <h1>Get local products near you.</h1>
    <div class="banner-home-card">
      <%= form_tag stores_path, method: :get do %>
      <%= select_tag(:category_id, options_from_collection_for_select(Category.all, "id", "name"), class: "custom-select", prompt: "Choose a category")%>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Choose a city"
      %>
      <br>
      <%= submit_tag "Search", class: "btn btn-success", id: "search-bar" %>
      <% end %>
    </div>
  </div>

    <div class="container-home container-form" id="geolocation">
    <%= form_tag stores_path, method: :get do %>
    <%= submit_tag "Find local stores around me", class: "btn btn-primary" %>
    <% end %>
  </div>

</div>

<!-- code a "How it works" section -->
<div class="container-home">
  <h2 class="text-center"><i class="fas fa-carrot"></i>  How it works <i class="fas fa-carrot"></i></h2>
  <div class="cards-home">

    <div class="card-home">
      <%= image_tag "store1.svg", class: "text-center home-pics", id: "goods-store" %>
      <h4><%= link_to "Find a Store", stores_path %></h4>
      <p>First, search for a store around you that sells local products</p>
    </div>

    <div class="card-home">
      <%= image_tag "order2.svg", class: "text-center home-pics" %>
      <h4><%= link_to "Make an order", stores_path %></h4>
      <p>Then, select your fresh products and pay directly on GetLocal</p>
    </div>

    <div class="card-home">
      <%= image_tag "basket.svg", class: "text-center home-pics", id: "vegetables-basket" %>
      <h4><%= link_to "Collect your items", stores_path %></h4>
      <p>Finally, get the directions to the storeand and go pick up your fresh products</p>
    </div>
  </div>
    <div
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
