
<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1471193945509-9ad0617afabf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
  <div class="container-home d-flex justify-content-around">
    <h1>Get local products near you.</h1>
    <div class="banner-home-card">
      <%= form_tag stores_path, method: :get do %>
      <%= select_tag(:category_id, options_from_collection_for_select(Category.all, "id", "name"), class: "custom-select", prompt: "Choose a category")%>
      <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Choose a city"
      %>
      <br>
      <%= submit_tag "Search", class: "btn btn-success", id: "search-bar" %>
      <% end %>
    </div>
  </div>


</div>

<div class="container-home" id="big-container-home">

<div class="container-home">
    <h2 class="text-center"> Get local products in your town:</h2>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1549588246-9a455c9c788c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80)">
    <%= link_to "Lisbon", :controller => "stores", :query => "lisbon"%>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1493407876535-66cff43a0558?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1648&q=80)">
   <%= link_to "Porto", :controller => "stores", :query => "porto"%>

  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1500482176473-ccba10e1e880?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80)">    
    <%= link_to "Paris", :controller => "stores", :query => "paris"%>
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1561385945-c99789cd12d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1499&q=80)">
    <%= link_to "Barcelona", :controller => "stores", :query => "barcelona"%>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1567750409538-75dfe2feb214?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=664&q=80)">
    <%= link_to "London", :controller => "stores", :query => "london" %>
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1553688737-e4fbcdad80c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80)">
    <%= link_to "Lyon", :controller => "stores", :query => "lyon" %>
  </div>
</div>
</div>

<!-- code a "How it works" section -->

<div class="container-home">
  <h2 class="text-center" ><i class="fas fa-carrot"></i>  How does it work? <i class="fas fa-carrot"></i></h2>

  <div class="cards-home">

  <%= link_to stores_path, :action => 'go' do %>
    <div class="card-home">
      <%= image_tag "store1.svg", class: "text-center home-pics", id: "goods-store" %>
      <h4><%= link_to "1. Find a Store", stores_path %></h4>
      <p>Search for a store around you that sells local products</p>
    </div>
  <% end %>

  <%= link_to stores_path, :action => 'go' do %>
    <div class="card-home">
      <%= image_tag "discount.svg", class: "text-center home-pics", id: "goods-store" %>
      <h4><%= link_to "2. Get a discount", stores_path %></h4>
      <p>See all the products available and make the most of the GetLocal special discounts</p>
    </div>
  <% end %>

  <%= link_to stores_path, :action => 'go' do %>
    <div class="card-home">
      <%= image_tag "order2.svg", class: "text-center home-pics" %>
      <h4><%= link_to "3. Make an order", stores_path %></h4>
      <p>Add the fresh products to your cart, checkout and pay directly on GetLocal website</p>
    </div>
  <% end %>

  <%= link_to stores_path, :action => 'go' do %>
    <div class="card-home">
      <%= image_tag "basket.svg", class: "text-center home-pics", id: "vegetables-basket" %>
      <h4><%= link_to "4. Collect your items", stores_path %></h4>
      <p>Get the directions to the store and and go pick up your fresh products</p>
    </div>
  <% end %>

  </div>




    <!--Carousel Wrapper-->

  <div class="container my-5">
    <h4 id="orange-line" style="color:orange">⭐️ Discover the GetLocal  <strong>selection</strong> ⭐️ </h4>

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Controls-->
      <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox" style="height:400px">

        <!--First slide-->
      <% @stores.each_slice(3).with_index do |slice, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <div class="row">

              <% slice.each do |store| %>

                  <div class="col-md-4">
                    <div class="card mb-4" id="card-home-store-section" style ="border: 2px solid orange">
                      <div class = "selection-store-card" >
                        <% if cl_image_tag store.pictures.present? %>
                        <% store.pictures.each do |picture| %>
                          <%= cl_image_tag(picture.photo) %>
                          <% end %>
                        <% else %>
                        <%= image_tag "https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"%>
                        <% end %>
                      </div>

                      <div class="card-body text-center">
                           <%= link_to store.name.capitalize, store_path(store), class:"orange"%>

<!--                         <p class="card-text"><%=store.address%></p>
 -->                        
                      </div>
                    </div>
                  </div>

              <% end %>

            </div>
          </div>
        <% end %>
      </div>
      <!--/.Slides-->
   </div>
 </div>
<!--/.Carousel Wrapper-->



    <!--Carousel Wrapper-->

  <div class="container my-4">
    <h4 style="color:green"> The best stores <strong> near you </strong>🚶‍♂️🚲 </h4>

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Controls-->
      <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox" style="height:400px">

        <!--First slide-->
      <% @stores_near.each_slice(3).with_index do |slice, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <div class="row">

              <% slice.each do |store| %>

                  <div class="col-md-4">
                    <div class="card mb-4" id="card-home-store-section" style ="border: 1px solid lightgrey">
                      <div class = "selection-store-card">
                        <% if cl_image_tag store.pictures.present? %>
                        <% store.pictures.each do |picture| %>
                          <%= cl_image_tag(picture.photo) %>
                          <% end %>
                        <% else %>
                        <%= image_tag "https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"%>
                        <% end %>
                      </div>

                      <div class="card-body text-center">
                           <%= link_to store.name.capitalize, store_path(store)%>
                           <div class= 'distance-orange'>
                             <% if store.distance_to([38.736946, -9.142685]).to_i < 10 %>
                                 <p>⚑ <%= store.distance_to([38.736946, -9.142685]).to_f.round(2) %> km</p>
                             <% else %>  
                                 <p>⚑< <%= store.distance_to([38.736946, -9.142685]).to_i %> km</p>
                             <% end %>
                           </div>
<!--                         <p class="card-text"><%=store.address%></p>
 -->                        
                      </div>
                    </div>
                  </div>

              <% end %>

            </div>
          </div>
        <% end %>
      </div>
      <!--/.Slides-->
   </div>
 </div>
<!--/.Carousel Wrapper-->


<!--Carousel Wrapper-->

<div class="container my-4">
  <h4 style="color:green">Top rated GetLocal stores 👍</h4>

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Controls-->
      <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox" style="height:400px">

        <!--First slide-->
      <% @stores_best_rated.each_slice(3).with_index do |slice, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <div class="row">

              <% slice.each do |store| %>

                  <div class="col-md-4 ">
                    <div class="card mb-4">

                      <div class = "selection-store-card" >
                      <% if cl_image_tag store.pictures.present? %>
                        <% store.pictures.each do |picture| %>
                          <%= cl_image_tag(picture.photo) %>
                          <% end %>
                        <% else %>
                        <%= image_tag "https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"%>
                        <% end %>
                      </div>


                      <div class="card-body text-center">
                           <%= link_to store.name.capitalize, store_path(store)%>

<!--                         <p class="card-text"><%=store.address%></p>
 -->                                  
                      </div>

                    </div>
                  </div>

              <% end %>

            </div>
          </div>
        <% end %>
      </div>
      <!--/.Slides-->
   </div>
</div>
    <!--/.Carousel Wrapper-->
    
<!--Carousel Wrapper-->

<div class="container my-4">
  <h4 style="color:green">The best <strong style="color:green"> 🥦 Vegetables 🥕</strong> Stores </h4>

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Controls-->
      <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox" style="height:400px">

        <!--First slide-->
      <% @stores_vegetables.each_slice(3).with_index do |slice, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <div class="row">

              <% slice.each do |store| %>

                  <div class="col-md-4">
                    <div class="card mb-4">

                      <div class = "selection-store-card">
                       <% if cl_image_tag store.pictures.present? %>
                        <% store.pictures.each do |picture| %>
                          <%= cl_image_tag(picture.photo) %>
                          <% end %>
                        <% else %>
                        <%= image_tag "https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"%>
                        <% end %>
                      </div>


                      <div class="card-body text-center">
                           <%= link_to store.name.capitalize, store_path(store)%>

<!--                         <p class="card-text"><%=store.address%></p>
 -->                               
                      </div>

                    </div>
                  </div>

              <% end %>

            </div>
          </div>
        <% end %>
      </div>
      <!--/.Slides-->
      <%= link_to "See all the vegetables stores", :controller => "stores", :query => "vegetables" , class:"btn-localisation"%>

   </div>
</div>
    <!--/.Carousel Wrapper-->

<!--Carousel Wrapper-->

<div class="container my-4">
  <h4 style="color:green">The best <strong >🍐 Fruits 🍎 </strong> stores </h4>

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Controls-->
      <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox" style="height:400px">

        <!--First slide-->
      <% @stores_fruits.each_slice(3).with_index do |slice, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <div class="row">

              <% slice.each do |store| %>

                  <div class="col-md-4">
                    <div class="card mb-4">

                      <div class = "selection-store-card">
                       <% if cl_image_tag store.pictures.present? %>
                        <% store.pictures.each do |picture| %>
                          <%= cl_image_tag(picture.photo) %>
                          <% end %>
                        <% else %>
                        <%= image_tag "https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"%>
                        <% end %>
                      </div>


                      <div class="card-body text-center">
                           <%= link_to store.name.capitalize, store_path(store)%>

<!--                         <p class="card-text"><%=store.address%></p>
 -->                               
                      </div>

                    </div>
                  </div>

              <% end %>

            </div>
          </div>
        <% end %>
      </div>
      <!--/.Slides-->
      <%= link_to "See all the fruits stores", :controller => "stores", :query => "fruits" , class:"btn-localisation"%>

   </div>
</div>
    <!--/.Carousel Wrapper-->


<!--Carousel Wrapper-->

  <div class="container my-4">
    <h4 style="color:green">Popular stores in <strong>Lisbon</strong> 🇵🇹 </h4>
    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Controls-->
      <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox" style="height:400px">

        <!--First slide-->
      <% @stores_lisbon.each_slice(3).with_index do |slice, index| %>

          <div class="carousel-item <%= 'active' if index == 0 %>">
            <div class="row">

              <% slice.each do |store| %>
                  <div class="col-md-4">
                    <div class="card mb-4"  id="carousel-selection">

                      <div class = "selection-store-card" >
                       <% if cl_image_tag store.pictures.present? %>
                        <% store.pictures.each do |picture| %>
                          <%= cl_image_tag(picture.photo) %>
                          <% end %>
                        <% else %>
                        <%= image_tag "https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"%>
                        <% end %>
                      </div>


                      <div class="card-body text-center">
                           <%= link_to store.name.capitalize, store_path(store)%>

<!--                         <p class="card-text"><%=store.address%></p>
 -->                        
                       
                      </div>

                    </div>
                  </div>

              <% end %>

            </div>
          </div>
        <% end %>

      </div>
      <!--/.Slides-->
      <%= link_to "See all the stores in Lison", :controller => "stores", :query => "lisbon" , class:"btn-localisation"%>
   </div>
</div>
<!--/.Carousel Wrapper-->


<!--Carousel Wrapper-->

  <div class="container my-4">
    <h4 style="color:green">Popular stores in <strong>Paris</strong> 🇫🇷</h4>

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Controls-->
      <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox" style="height:400px">

        <!--First slide-->
      <% @stores_paris.each_slice(3).with_index do |slice, index| %>

          <div class="carousel-item <%= 'active' if index == 0 %>">
            <div class="row">

              <% slice.each do |store| %>
                  <div class="col-md-4">
                    <div class="card mb-4"  id="carousel-selection">

                      <div class = "selection-store-card" >
                       <% if cl_image_tag store.pictures.present? %>
                        <% store.pictures.each do |picture| %>
                          <%= cl_image_tag(picture.photo) %>
                          <% end %>
                        <% else %>
                        <%= image_tag "https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"%>
                        <% end %>
                      </div>


                      <div class="card-body text-center">
                           <%= link_to store.name.capitalize, store_path(store)%>

<!--                         <p class="card-text"><%=store.address%></p>
 -->                        
                       
                      </div>

                    </div>
                  </div>

              <% end %>

            </div>
          </div>
        <% end %>

      </div>
      <!--/.Slides-->
      <%= link_to "See all the stores in Paris", :controller => "stores", :query => "paris" , class:"btn-localisation"%>

   </div>
</div>
<!--/.Carousel Wrapper-->


<!--Carousel Wrapper-->

  <div class="container my-4">
    <h4 style="color:green">Popular stores in <strong>Porto</strong> 🇵🇹</h4>

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Controls-->
      <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox" style="height:400px">

        <!--First slide-->
      <% @stores_porto.each_slice(3).with_index do |slice, index| %>

          <div class="carousel-item <%= 'active' if index == 0 %>">
            <div class="row">

              <% slice.each do |store| %>
                  <div class="col-md-4">
                    <div class="card mb-4"  id="carousel-selection">

                      <div class = "selection-store-card" >
                       <% if cl_image_tag store.pictures.present? %>
                        <% store.pictures.each do |picture| %>
                          <%= cl_image_tag(picture.photo) %>
                          <% end %>
                        <% else %>
                        <%= image_tag "https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"%>
                        <% end %>
                      </div>


                      <div class="card-body text-center">
                           <%= link_to store.name.capitalize, store_path(store)%>

<!--                         <p class="card-text"><%=store.address%></p>
 -->                        
                       
                      </div>

                    </div>
                  </div>

              <% end %>

            </div>
          </div>
        <% end %>

      </div>
      <!--/.Slides-->
      <%= link_to "See all the stores in Porto", :controller => "stores", :query => "porto" , class:"btn-localisation"%>

   </div>
</div>
<!--/.Carousel Wrapper-->

<!--Carousel Wrapper-->

  <div class="container my-4">
    <h4 style="color:green">Popular stores in <strong>Barcelona</strong> 🇪🇸</h4>

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Controls-->
      <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox" style="height:400px">

        <!--First slide-->
      <% @stores_barcelona.each_slice(3).with_index do |slice, index| %>

          <div class="carousel-item <%= 'active' if index == 0 %>">
            <div class="row">

              <% slice.each do |store| %>
                  <div class="col-md-4">
                    <div class="card mb-4"  id="carousel-selection">

                      <div class = "selection-store-card" >
                       <% if cl_image_tag store.pictures.present? %>
                        <% store.pictures.each do |picture| %>
                          <%= cl_image_tag(picture.photo) %>
                          <% end %>
                        <% else %>
                        <%= image_tag "https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"%>
                        <% end %>
                      </div>


                      <div class="card-body text-center">
                           <%= link_to store.name.capitalize, store_path(store)%>

<!--                         <p class="card-text"><%=store.address%></p>
 -->                        
                       
                      </div>

                    </div>
                  </div>

              <% end %>

            </div>
          </div>
        <% end %>

      </div>
      <!--/.Slides-->
      <%= link_to "See all the stores in Barcelona", :controller => "stores", :query => "barcelona" , class:"btn-localisation"%>

   </div>
</div>
<!--/.Carousel Wrapper-->

<!--Carousel Wrapper-->

  <div class="container my-4">
    <h4 style="color:green">Popular stores in <strong>Lyon</strong> 🇫🇷</h4>

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

      <!--Controls-->
      <div class="controls-top">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->

      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox" style="height:400px">

        <!--First slide-->
      <% @stores_lyon.each_slice(3).with_index do |slice, index| %>

          <div class="carousel-item <%= 'active' if index == 0 %>">
            <div class="row">

              <% slice.each do |store| %>
                  <div class="col-md-4">
                    <div class="card mb-4"  id="carousel-selection">

                      <div class = "selection-store-card" >
                       <% if cl_image_tag store.pictures.present? %>
                        <% store.pictures.each do |picture| %>
                          <%= cl_image_tag(picture.photo) %>
                          <% end %>
                        <% else %>
                        <%= image_tag "https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80"%>
                        <% end %>
                      </div>


                      <div class="card-body text-center">
                           <%= link_to store.name.capitalize, store_path(store)%>

<!--                         <p class="card-text"><%=store.address%></p>
 -->                        
                       
                      </div>

                    </div>
                  </div>

              <% end %>

            </div>
          </div>
        <% end %>

      </div>
      <br>
      <!--/.Slides-->
      <%= link_to "See all the stores in Lyon", :controller => "stores", :query => "lyon" , class:"btn-localisation"%>

   </div>
</div>
<!--/.Carousel Wrapper-->

      <h4><%= link_to "See all the Stores", stores_path, class:"btn btn-localisation"%></h4>


    <div data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

</div>
</div>