<div class="banner-payment" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1471193945509-9ad0617afabf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
  <div class="container d-flex justify-content-around">
    <h1>Your order is ready.</h1>
    <div class="banner-card-payment">
      <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        <h4 id="products">Order Summary</h4>
        <br>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">GetLocal Discount</th>
              <th scope="col">Final Price</th>
            </tr>
          </thead>
          <tbody>
            <% current_user.products.each do |product| %>
            <tr>
              <td><%= product.name %>-- <%= product.store.name %></td>
              <td><%= product.product_orders.last.quantity %></td>
              <td><%= humanized_money_with_symbol(product.price)%></td>
                <% product.discount = 0 if product.discount.blank? %>
              <td><%= (product.discount*100).round(0)%> %</td>
              <td><%= humanized_money_with_symbol product.price - (product.price*product.discount) %></td>
            </tr>
            <% end %>
          </tbody>
          <tr>
            <td><strong>Total</strong></td>
            <td><strong><%= @order.quantity %></strong></td>
            <td></td>
            <td></td>
            <td><strong><%= humanized_money_with_symbol @order.amount %></strong></td>
          </tr>
        </table>


      <button id="pay" class="btn btn-success">Pay</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
</div>

